* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-weight: bold;
    color: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
}

.btn-container {
    display: block;
    margin: 0 auto;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
}

button:hover {
    opacity: .75;
}

@media (min-width: 768px) {
    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    button {
        display: inline-block;
    }
    
    button + button {
        margin-left: 1.5rem;
    }
}